body {
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: flex-start;
}
.container1{
    display: flex;
    justify-content: center
}
.container2{
    display: flex;
    justify-content: flex-end;
}
.div{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
}