.container{
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top:20px;
}
.inner-container{
    display: flex;
    height: 200px;
    width: 200px;
    background-color: gray;
    justify-content: center;
    align-items: center;
}
.div{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
}