body{
    margin:0;
    padding:0;
}.container{
    display: flex;
    background-color: white;
}
.inner-container{
    display: flex;
    height: 400px;
    width: 200px;
    background-color: gray;
    justify-content: flex-end;
    align-items: flex-end;
}
.inner-container2{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.div{
    width: 150px;
    height: 150px;
    background-color: black;
    color: white;
}
.div1{
    width:100px;
    height:100px;
    background-color: grey;
    margin-bottom:10px;
    margin-right: 20px;

}