body{
    margin:0;
    padding: 0;
}
.div{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
}

.div1{
    background-color: gray;
    position: absolute;
    top:50px;
    left:50px;
}